<div id="<%= dom_id evaluation %>">
  <p>
    <strong>Presentation event:</strong>
    <%= evaluation.presentation_event_id %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= evaluation.score %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= evaluation.comment %>
  </p>

</div>
